
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
.glyphicon {
    font-size: 40px;
    text-align:center;
 margin-right: auto;
 
}

</style>
</head>
<body>
<h1 th:inline="text" class="text-center">Olá [[${#httpServletRequest.remoteUser}]]!</h1>

<a href="/produto" class="btn btn-primary">Adicionar Produto</a>
	<table class="table-striped table-bordered table" style="margin-top:15px;">
		<tr>
			<th>Produtos</th>
			<th>Preço</th>
			<th>Ações</th>
		</tr>
		<tr th:each="pr : ${pr}">
			<td th:text="${pr.nome}"></td>
			<td th:text="${pr.preco}"></td>
			<td><a th:href="'/produto?id=' + ${pr.id}"><span class="glyphicon glyphicon-edit" style="color:#28ed59;"></span></a>
			<a th:href="'/deletaProduto?id=' + ${pr.id}"><span class="glyphicon glyphicon-remove" style="color:red;"></span></a>
			</td>
		</tr>
	</table>
	        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sair" class="btn btn-danger center-block"/>
        </form>
</body>
</html>